{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurants</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Photo</th>
            <th>Identification number</th>
            <th>Status</th>
            <th>Active tables</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.title }}</td>
                {% if restaurant.media is not null %}
                    <td>
                        <img class="list-image" src="{{ asset(getMediaUploadPath(restaurant.media.filename)) }}">
                    </td>
                {% endif %}
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.status|status }}</td>
                <td>{{ restaurant.getActiveTables }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('app_restaurant_edit', {'id': restaurant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_restaurant_new') }}">Create new</a>
{% endblock %}
