{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <h1>Restaurant</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Identification number</th>
            <td>{{ restaurant.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ restaurant.title }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ restaurant.status|status }}</td>
        </tr>
        {% if restaurant.media is not null %}
            <tr>
                <th>Photo</th>
                <td>
                    <img class="restaurant-img" src="{{ asset(getMediaUploadPath(restaurant.media.filename)) }}">
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {{ include('restaurant/_delete_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_restaurant_index') }}">Back to list</a>

    <a class="btn btn-secondary" href="{{ path('app_restaurant_edit', {'id': restaurant.id}) }}">Edit</a>
{% endblock %}
